@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #19183B;
  font-family: 'Roboto', sans-serif; 
  color: #E7F2EF;
}